[submodule "jlibra"]
	path = jlibra
	url = https://github.com/ketola/jlibra.git
[submodule "jlibra-spring-boot-starter"]
	path = jlibra-spring-boot-starter
	url = https://github.com/ice09/jlibra-spring-boot-starter.git
[submodule "libra-message-signing"]
	path = libra-message-signing
	url = https://github.com/ice09/libra-message-signing.git
[submodule "java-libra-client"]
	path = java-libra-client
	url = https://github.com/ice09/java-libra-client.git
[submodule "libra-payment-processor"]
	path = libra-payment-processor
	url = https://github.com/ice09/libra-payment-processor.git
