spring:
  profiles:
    active: aws

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 213552706417-ki2e8clingcnrb8fcftu850j3i88itmd.apps.googleusercontent.com
            clientSecret: QOQoHrXkqr_OmqCbRK2dxWyp
            redirectUriTemplate: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
          facebook:
            clientId: 858884534547986
            clientSecret: 8516f7b0612dfb0312b3ea273b815bcb
            redirectUriTemplate: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
          github:
            clientId: c982659d9bdd8a1dcbf0
            clientSecret: d2535bdfaf2db9fc6a0f76d45d2c6567533bb99e
            redirectUriTemplate: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - user:email
              - read:user
        provider:
          facebook:
            authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
            tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
            userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,middle_name,last_name,name,email,verified,is_verified,picture.width(250).height(250)


server:
  port: 8090

---

spring:
  profiles: local

  datasource:
    url: jdbc:h2:tcp://localhost:9092/mem:testdb;
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    #database-platform: H2
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true
        ddl-auto: create
        id:
          new_generator_mappings: true
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

jLibra:
  service-url: ac.testnet.libra.org
  service-port: 8000
  faucet-url: http://faucet.testnet.libra.org
  faucet-port: 80
  gas-unit-price: 5
  max-gas-amount: 600000

app:
  auth:
    tokenSecret: 736D96C90030DD58429D2751AC1BCCCD
    tokenExpirationMsec: 864000000
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - http://localhost:3000/oauth2/redirect # Need to change
      - myandroidapp://oauth2/redirect        # Need to change
      - myiosapp://oauth2/redirect            # Need to change

---

spring:
  profiles: aws

  ## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
  datasource:
    url: jdbc:mysql://localhost:3306/palibradb?useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false

    username: root
    password: qwer12#$
    driver-class-name: com.mysql.cj.jdbc.Driver

  ## Hibernate Properties
  # The SQL dialect makes Hibernate generate better SQL for the chosen database
  jpa:
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ##ddl-auto: update
    #generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
      springframework:
        web: INFO

jLibra:
  service-url: ac.testnet.libra.org
  service-port: 8000
  faucet-url: http://faucet.testnet.libra.org
  faucet-port: 80
  gas-unit-price: 5
  max-gas-amount: 600000

app:
  auth:
    tokenSecret: 736D96C90030DD58429D2751AC1BCCCD
    tokenExpirationMsec: 864000000
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - https://www.palibra.net/oauth2/redirect
      - myandroidapp://oauth2/redirect        # Need to change
      - myiosapp://oauth2/redirect            # Need to change
